$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

$font-family: 'Courier New', Courier, monospace;

body {
  font-family: $font-family;
}
