#inventory {
  display: flex;
  flex-direction: column;

  .inventory-row {
    display: flex;
    flex-direction: row;

    margin: 0 auto 12px auto;

    .inventory-item-container:first-child {
      margin-left: 0;
    }
  }

  .inventory-item-container {
    margin-left: 12px;

    .inventory-item {
      margin: auto;

      width: 48px;
      height: 48px;
      background: gray;

      .inventory-item-name {

      }

      .inventory-item-amount {

      }
    }
  }
}
