$overlay-tab-height: 36px;

.overlay-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;

  .overlay {
    @include user-select(none);

    &.overlay-left {
      left: 0;
      padding-right: 4px;
    }

    &.overlay-right {
      right: 0;
      padding-left: 4px;
    }

    div.mdl-tabs__tab-bar {
      display: flex;
      height: $overlay-tab-height;
    }

    a.mdl-tabs__tab {
      flex: 1;

      padding-bottom: 4px;

      height: $overlay-tab-height;
      line-height: calc(#{$overlay-tab-height} - 4px);

      &:hover {
        text-decoration: none;
      }

      &.is-active.overlay-tab {
        position: relative;

        &:after {
          display: block;
          height: 4px;
          width: 100%;

          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;

          background: white;

          animation: grow-horizontally 60ms;
        }
      }
    }

    .mdl-tab__panel {
      padding: 16px;
    }
  }
}

@keyframes grow-horizontally {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}